pandas==2.2.2
numpy==2.0.1
scikit-learn==1.5.1
joblib==1.4.2
pyyaml==6.0.2
fastapi==0.115.0
uvicorn==0.30.6
streamlit==1.37.1
pydantic==2.8.2
transformers==5.5.0
datasets==2.21.0
torch==2.6.0
evaluate==0.4.2
